<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="alert alert-{{message.type}}" *ngIf="message">
        {{message.content}}
    </div>
    <ng-container *ngIf="ObjectUtils.isEmpty(userId.value)">
        <div class="form-group">
            <label for="email"><strong>Email</strong></label>
            <input [ngClass]="{
                                      'is-invalid': email.invalid && (email.dirty || email.touched),
                                      'is-valid': !email.invalid && (email.dirty || email.touched)
                                      }" class="form-control" formControlName="email" fullWidth id="email" nbInput
                placeholder="Enter email address" type="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback text-left">
                <span *ngIf="email.hasError('required')">Email is required!</span>
                <span *ngIf="email.hasError('email')">Email is invalid!</span>
            </div>
        </div>
        <div class="form-group">
            <button (click)="verify()" [disabled]="form.invalid" [nbSpinner]="spinner" nbButton id="btnVerify"
                status="primary" type="button">Verify</button>
        </div>
    </ng-container>
    <ng-container *ngIf="!ObjectUtils.isEmpty(userId.value)">
        <div class="form-group">
            <label for="token">Token</label>
            <input [ngClass]="{
                                      'is-invalid': token.invalid && (token.dirty || token.touched),
                                      'is-valid': !token.invalid && (token.dirty || token.touched)
                                      }" class="form-control" fullWidth id="token" formControlName="token" nbInput
                placeholder="Enter token" type="text">
            <div *ngIf="token.invalid && (token.dirty || token.touched)" class="invalid-feedback text-left">
                Token is required!
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input [ngClass]="{
                                      'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched),
                                      'is-valid': !newPassword.invalid && (newPassword.dirty || newPassword.touched)
                                      }" class="form-control" fullWidth id="newPassword" formControlName="newPassword"
                nbInput placeholder="Enter new password" type="password">
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                class="invalid-feedback text-left">
                Password is required!
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input [ngClass]="{
                          'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || newPassword.value !== confirmPassword.value,
                          'is-valid': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched) && newPassword.value === confirmPassword.value
                          }" class="form-control" formControlName="confirmPassword" fullWidth id="confirmPassword"
                nbInput placeholder="Enter new password again" size="small" type="password">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="invalid-feedback text-left">
                Confirm password is required!
            </div>
            <span *ngIf="newPassword.value !== confirmPassword.value" class="invalid-feedback text-left">Password do not
                match!</span>
        </div>
        <div class="form-group">
            <button [disabled]="form.invalid" [nbSpinner]="spinner" nbButton id="btnReset" status="primary"
                type="submit">Reset</button>
        </div>
    </ng-container>

    <div class="form-group small">
        <a routerLink="/login">Know your password?</a>
    </div>



</form>