<nb-card [nbSpinner]="spinner">
    <nb-card-header>
        {{action}} Department
        <button (click)="this.nbDialogRef.close('Modal Closed')" class="float-right" nbButton size="tiny"
            status="danger" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="name">Name</label>
                    <input [ngClass]="{
                                  'is-invalid': name.invalid && (name.dirty || name.touched),
                                  'is-valid': name.valid && (name.dirty || name.touched)
                                  }" class="form-control" formControlName="name" fullWidth id="name" nbInput
                        placeholder="Enter Department Name" size="small">
                    <span class="invalid-feedback" *ngIf="name?.errors?.required">Department Name is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <button [disabled]="form.invalid" nbButton size="small" status="success" type="submit"><i
                            class="fas fa-save"></i></button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>