<nb-card>
    <nb-card-header>
        Appointment
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" class="text-left">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" formControlName="name" fullWidth id="name" nbInput
                        placeholder="Enter name" size="small">
                </div>
                <div class="col-md-6 form-group">
                    <label for="address">Address</label>
                    <input class="form-control" formControlName="address" fullWidth id="address" nbInput
                        placeholder="Enter address" size="small">
                </div>
                <div class="col-md-6 form-group">
                    <label for="email">Email</label>
                    <input class="form-control" fullWidth formControlName="email" id="email" nbInput
                        placeholder="Enter email address" size="small" type="email">
                </div>
                <div class="col-md-6 form-group">
                    <label for="gender">Gender</label>
                    <br />
                    <nb-radio-group class="d-flex" id="gender">
                        <nb-radio>
                            Male</nb-radio>
                        <nb-radio>
                            Female</nb-radio>
                        <nb-radio>
                            Other</nb-radio>
                    </nb-radio-group>
                </div>
                <div class="col-md-6 form-group">
                    <label for="age">Age</label>
                    <input class="form-control" formControlName="age" fullWidth id="age" nbInput
                        placeholder="Enter your age" size="small" type="number">
                </div>
                <div class="col-md-6 form-group">
                    <label for="department">Select Department</label>
                    <nb-select formControlName="department" fullWidth id="department" placeholder="Enter department">
                        <nb-option *ngFor="let department of departmentList" [value]="department">{{ department?.name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="doctor">Select Doctor</label>
                    <nb-select formControlName="doctor" fullWidth id="doctor" placeholder="Enter doctor">
                        <nb-option *ngFor="let doctor of doctorList" [value]="doctor">{{ doctor?.user?.name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="appointmentDate">Appointment Date</label>
                    <input [nbDatepicker]="appointmentDatePicker" class="form-control" formControlName="appointmentDate"
                        fullWidth id="appointmentDate" nbInput placeholder="Appointment Date" size="small">
                    <nb-datepicker #appointmentDatePicker></nb-datepicker>
                </div>
                <div class="col-md-6 form-group">
                    <label for="appointmentTime">Appointment Time</label>
                    <input class="form-control" formControlName="appointmentTime" type="time">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <button nbButton size="small" status="success" type="submit">
                        Create Appointment
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>