<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class=row>
                    <div class="col-md-12">
                        <button (click)="isFilterCollapsed = !isFilterCollapsed"
                            [attr.aria-expanded]="!isFilterCollapsed" id="btnFilter" nbButton status="primary">
                            <i class="fa fa-filter"> Filter</i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div [hidden]="isFilterCollapsed" class="col-md-12" id="searchModel">
                        <form (ngSubmit)="onSearch()" [formGroup]="filterForm">
                            <div class="d-flex py-3 justify-content-start">
                                <input class="mr-1" fieldSize="medium" formControlName="name" id="name" nbInput
                                    placeholder="Enter name" type="text">
                                <nb-select formControlName="department" id="department" placeholder="Select department">
                                    <nb-option *ngFor="let department of departmentList" [value]="department?.id">
                                        {{ department?.name }}</nb-option>
                                </nb-select>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="mr-2" id="btnFilterSearch" nbButton status="info" type="submit"
                                        size="small">Search</button>
                                    <button (click)="clearSearch()" class="mr-2" nbButton status="danger" type="button"
                                        size="small">Clear
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="box-body">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Specialization Field</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctorList;let i=index">
                                <td>{{ (pageable.number - 1) * pageable.size + i + 1 }}</td>
                                <td>{{ doctor?.user?.name | checkEmpty }}</td>
                                <td>{{ doctor?.department?.name | checkEmpty }}</td>
                                <td>{{ doctor?.specializationField | checkEmpty }}</td>
                                <td>{{ doctor?.user?.email | checkEmpty }}</td>
                                <td>{{ doctor?.user?.contactNumber | checkEmpty }}</td>
                                <td>{{ doctor?.user?.gender | titlecase | checkEmpty }}</td>
                                <td>
                                    <nb-toggle #userStatus (checkedChange)="statusChange(doctor, userStatus)"
                                        [checked]="Status[doctor?.user?.status] === Status.ACTIVE"></nb-toggle>
                                </td>
                                <td>
                                    <button (click)="edit(doctor)" class="ml-2" nbButton outline size="small"
                                        status="info">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-spinner *ngIf="spinner" class="d-flex justify-content-center">
                    </app-spinner>
                    <app-pagination (changePage)="changePage($event)" *ngIf="!spinner" [pageable]="pageable">
                    </app-pagination>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>