<nb-layout>
    <nb-layout-column>
        <nb-card class="text-center">
            <nb-card-header>
                <div class="my-lg-1">
                    <img alt="logo" src="../../../assets/images/logo.jpg">
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="my-lg-1">
                    <p>Powered by <strong>PEMITS</strong> {{currentYear | date: 'yyyy'}}
                    </p>
                </div>
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>