<nb-card>
    <nb-card-header>
        Change Password
        <button (click)="this.nbDialogRef.close('Modal Closed')" class="float-right" nbButton size="tiny"
            status="danger" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</div>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="oldPassword">Old Password</label>
                    <input [ngClass]="{
                                  'is-invalid': oldPassword.invalid && (oldPassword.dirty || oldPassword.touched),
                                  'is-valid': oldPassword.valid && (oldPassword.dirty || oldPassword.touched)
                                  }" class="form-control" formControlName="oldPassword" fullWidth id="oldPassword"
                        nbInput placeholder="Enter old password" size="small" type="password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="newPassword">New Password</label>
                    <input [ngClass]="{
                                  'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched),
                                  'is-valid': newPassword.valid && (newPassword.dirty || newPassword.touched)
                                  }" class="form-control" formControlName="newPassword" fullWidth id="newPassword"
                        nbInput placeholder="Enter new password" size="small" type="password">
                </div>
                <div class="col-md-6 form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input [ngClass]="{
                                  'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || newPassword.value !== confirmPassword.value,
                                  'is-valid': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched) && newPassword.value === confirmPassword.value
                                  }" class="form-control" formControlName="confirmPassword" fullWidth
                        id="confirmPassword" nbInput placeholder="Enter new password again" size="small"
                        type="password">
                    <span *ngIf="newPassword.value !== confirmPassword.value" class="invalid-feedback">Password do not
                        match!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <button [disabled]="form.invalid || newPassword.value !== confirmPassword.value" nbButton
                        size="small" status="success" type="submit"><i class="fas fa-save"
                            [nbSpinner]="spinner"></i></button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>