<div class="d-flex justify-content-center">
    <nb-user size="large" picture="../../../../assets/images/avatar.png" title="Profile Picture" onlyPicture>
    </nb-user>
</div>
<div class="d-flex justify-content-center">
    <span class="font-weight-bold">{{user?.name}}</span>
</div>
<hr class="bg-primary" />
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <span class="font-weight-bold justify-content-center">General Information</span>
            </nb-card-header>
            <nb-card-body>
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>User Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{user?.name | checkEmpty}}</td>
                            <td>{{user?.username | checkEmpty}}</td>
                            <td>{{UserType[user?.userType] | checkEmpty}}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <span class="font-weight-bold justify-content-center">Contact Information</span>
            </nb-card-header>
            <nb-card-body>
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{user?.email | checkEmpty}}</td>
                            <td>{{user?.address | checkEmpty}}</td>
                            <td>{{user?.contactNumber | checkEmpty}}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row" *ngIf="user?.userType === EnumUtils.getEnum(UserType, UserType.DOCTOR)">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <span class="font-weight-bold">Detail Information</span>
            </nb-card-header>
            <nb-card-body>
                <div class="box-body">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Department</th>
                                <th>Specialization Field</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user?.name | checkEmpty}}</td>
                                <td>{{Gender[user?.gender] | checkEmpty}}</td>
                                <td>{{doctor?.department?.name | checkEmpty}}</td>
                                <td>{{doctor?.specializationField | checkEmpty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row" *ngIf="user?.userType === EnumUtils.getEnum(UserType, UserType.PATIENT)">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <span class="font-weight-bold">Detail Information</span>
            </nb-card-header>
            <nb-card-body>
                <div class="box-body">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user?.name | checkEmpty}}</td>
                                <td>{{Gender[user?.gender] | checkEmpty}}</td>
                                <td>{{patient?.age | checkEmpty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>